{% extends 'core/base.html' %}

{% block title %}Acerca de{% endblock %}

{% block background %}{% load static %}{% static 'core/img/imagen.jpg' %}{% endblock %}

{% block headers %}
<h1>Acerca de</h1>
<span class="subheading">Bienvenida</span>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Universidad Tecnológica de Morelia</h2>
    <p>Es muy gratificante y trascendental para la Universidad Tecnológica de Morelia ser sede de la Reunión 
      Nacional de Directores de Tecnologías de la Información y Comunicación de las Universidades Tecnológicas del
       País, la cual se llevará a cabo los días 10, 11 y 12 de octubre del presente año, y en la cual se tratarán 
       temas como la inserción del Modelo Dual en las Universidades Tecnológicas, la homologación de criterios a 
       través de CONAIC, para la acreditación de la carrera de TIC a nivel nacional, la logística del Congreso 
       Internacional de TIC (CITIC 2019), además se tendrá la participación especial de Amazon y Cisco, que 
       aportarán temas de gran relevancia para la industria de las Tecnologías de la Información y Comunicación, 
       en nuestro país.</p>
    <p>Para facilitar sus tramites de estancia y traslado a nuestra ciudad podrá descargar los convenios de las 
      opciones de hoteles que siendo el Best Western Plus nuestro hotel Sede ya que en el se llevará a cabo 
      nuestro evento.</p>
      <ul>
        <li>
          <a href="{% static 'core/docs/Cotización de Hospedaje Best Western Plus.pdf' %}">Cotización de Hospedaje Best Western Plus</a>
        </li>
        <li>
            <a href="{% static 'core/docs/Cotización de Hospedaje Holiday Inn Express.pdf' %}">Cotización de Hospedaje Holiday Inn Express</a>
          </li>
          <li>
            <a href="{% static 'core/docs/Cotización de Hospedaje Holiday Inn.pdf' %}">Cotización de Hospedaje Holiday Inn</a>
          </li>
      </ul>
      <p>En el caso de las salidas de nuestro aeropuerto internacional, pueden verificar los vuelos en: <a href="https://www.aeropuertosgap.com.mx/es/morelia.html">https://www.aeropuertosgap.com.mx/es/morelia.html</a></p>
      <p>En el caso de las líneas de autobuses, pueden verificar las salidas en: <a href="http://www.tam-sa.com.mx/inicio/">http://www.tam-sa.com.mx/inicio/</a></p>
      <p>¡La ciudad de Morelia los espera!</p>
  </div>
</div>
</div>
{% endblock %}