{% extends 'core/base.html' %}

{% block title %}
Programa
{% endblock %}

{% block background %}{%load static %}{% static 'core/img/imagen.jpg' %}{% endblock %}

{% block headers %}
<h1>Programa</h1>
<span class="subheading">10, 11 y 12 de Octubre de 2018</span>
{% endblock %}

{% block content %}
<!-- Contenido Principal -->

<div class="container">
  <!-- Proyecto -->
  <div class="row project">
    <div >
      <img class="img-fluid" src="{% static 'core/img/programa.jpg' %}" alt="">
    </div>
  </div>
  
</div>
{% endblock %}